.brands-block {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 991px) {
    flex-wrap: nowrap;
    overflow-y: scroll;
  }

  @media (max-width: 767px) {
    gap: 8px
  }

  &__item {
    width: 230px;
    height: 100px;


    @media (max-width: 767px) {
      height: 60px;
    }

    img {
      max-width: 100%;

      @media (max-width: 767px) {
        max-width: 110px;
      }
    }
  }
}