.timer-values {
    display: flex;
    align-items: center;
    justify-content: center;
    --highlight-color: var(--color-text-red)
}

.timer-values__item {
    margin: 0 1rem;
}

.timer-values__item .value {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 126%;
    color: var(--highlight-color);
    text-align: center;
}

.timer-values__item.seconds .value, .timer-values__item .value .grey-text {
    color: rgba(68, 68, 68, 0.5);
    font-weight: 400;
}

.timer-values__item .name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 144%;
    text-align: center;
    letter-spacing: 1px;
    color: #6B6B6B;
    text-transform: uppercase;
}

.timer__title {
    font-family: var(--font-eurostile);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #050000;
}
