.sebastian-section {
  padding: 100px 0;

  @media (max-width: 767px) {
    padding-top: 20px;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 90px;
    justify-content: space-between;
    flex-direction: row-reverse;

    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }

  &__image {
    width: 100%;
    max-width: 50%;
    @media (max-width: 1100px) {
      max-width: none;
    }

    img {
      max-width: 100%;

      @media (max-width: 767px) {
        img {
          max-width: 100%;
        }
      }
    }
  }

  &__info {
    width: 100%;
    max-width: 50%;

    @media (max-width: 1100px) {
      max-width: none;
    }

    .section-title {
      text-align: left;

      @media (max-width: 767px) {
        font-size: 24px;
        line-height: 126%;
      }

      &:before {
        left: 0;
        transform: none;
      }

      .section-title__red-bg {
        color: #FFFFFF;
      }
    }

    p {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #050000;
    }
  }
}